* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.box-title h1 {
    font-size: 1.6rem;
}
.box-title{
    display: 	flex;
    justify-content: space-between;
    align-items: center;
}
.box-title--btns{
    display: flex;
}
.box-title--btn{
    display: flex;
    align-items: center; 
    margin-left: 5px;
}
.box-title--btn a{
    margin-left: 6px; 
    font-size: 1rem;
    color:#222;
    text-decoration: none;
}
.gallery{
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
}
.gallery div{
    width: 100%;
    height: 100%;
}
.gallery img{
    width: 100%;
    height: 100%;
}
.gallery .img1{
    grid-row: 1 / 3;
    grid-column: 1/3;
}
.gallery .img1 img{
    border-top-left-radius: 5px;
}
.description-casa{
    display: flex;
    margin-right: 10px;
}
.logo-container {
    padding: 0;
    margin: 0;
    text-align: left; 
    margin-bottom: 20px;
}

.logo {
    padding: 10px;
    margin: auto;
    width: 150px; 
    height: auto;
}
.block {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    float: right; 
}

.group-blocks {
    width: 100%;
    min-width: 250px;
}

.block-a {
    height: 400px;
    margin-bottom: 10px;
    background: transparent;
    width: 280px;
}
.block-a li{
    list-style: none;
    justify-content: center;
}
.block-a li a{
    color: white;
    background-color: darkred;
    text-decoration: none;
    
}
.block-b{
    height: 40px;
    margin-top: 25px;
    width: 230px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: block;
}
.description{
    margin-top: 13px;
}
.description-casa { 
    width: 26%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.grid-container{
    width: 60%;
    height: 60px;
    padding: 10px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.grid-item{
    background-color: '';
    padding: 20px;
    text-align: center;
    font-size: 19px;
}
.grid-item a {
    list-style: none;
    color: black;
}
.self{
    margin-top: 40px;
    display: flex;
}
.self a{
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.patas{
    margin-top: 40px;
    display: flex;
}
.patas a{
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.espaco{
    margin-top: 40px;
    display: flex;
}
.espaco a{
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.descricao{
    width: 55%;
    margin-top: 40px; 
}
.descricao a{
    display: flex;
    margin-top: 20px;
    color: black;
}
.ofer{
    margin-top: 40px;
}

.grid-baixo{
    width: 60%;
    height: 60px;
    padding: 10px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-itens{
    display: flex;
    margin-top: 15px;
}
.grid-itens p{
    display: flex;
    align-items: center;
    margin-left: 10px;

}
.reserva{
justify-content: center;
}